<template name='project'>
<div class="event">
  <ul class="list-group single-event-details">
    <li class="list-group-item">
      <h1 id="project-header" contenteditable="true">
        <div>  
          {{project.name}}
        </div>
      </h1>
    </li>
    <li class="list-group-item"> 
      <h2 id="project-desc" contenteditable="true">
        <div>
          {{project.description}}
        </div>
      </h2>
    </li>

    <!-- DATE PICKER v -->
    <li class="list-group-item"> 
      <h3  id="project-date">
        <div id= "start-date"></div>
        <div id="due-date"> </div>
       {{dateFormat}}
     </h3>  
     <div id="dateTimePick" class="input-group datetimepicker1">
    <span id="calendarDropdownButton" class="input-group-addon input-submit"><i class="fa fa-calendar"></i></span>
    <input id="startDateDrop"  class="set-due-date form-control" type="text"/>
  </div>
  
      <div  class="input-group datetimepicker2">
    <span id="calendarDropdownButton2" class="input-group-addon input-submit"><i class="fa fa-calendar"></i></span>
    <input id="dueDateDrop"  class="set-due-date form-control" type="text"/>
  </div>
 
   </li>
   <!-- DATE PICKER ^ -->



    <li class="list-group-item">
      <br>
      <h3 class="collab-title"><strong>Collaborators:</strong></h3>
      <ul>
        {{#each collabUser}}
        <li class="collabuser-item">
          <h4>{{profile.name}}</h4>
          <i class="fa fa-times-circle delete-collab" data-id="{{_id}}"></i>
        </li>
        {{/each}}
        <li>
          <div class="btn-group add-collab">
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Add User <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <li>
                <form id="add-project-user">
                    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email of user">
                </form>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </li>
 </ul>
 </div>

</template>