<template name="invoiceItemRoute">
  <tr class="invoice-item-fields" data-index="{{index}}">
    <td class="invoice-item-service"  value="{{service}}"><div>{{service}}</div></td>
    <td class="invoice-item-description"  value="{{description}}"><div>{{description}}</div></td>
    <td class="text-right invoice-item-quantity"  value="{{qty}}"><div>{{qty}}</div></td>
    <td class="text-right invoice-item-price"  value="{{price}}"><div>{{price}}</div></td>
    <td class="text-right" >{{subtotal}}</td>
    </tr>


</template>
