<template name="uploadAvatar"> 
   <form> 
    <input type="file" id="avatar">
    <br>
   <input class="input-submit" type="submit" value="Upload">
  </form>
  <br>

<!-- <table>
{{#each attachments}}
  <tr id="fileDownloadRow">
   <td class="input-box">{{this.original.name}}</td>
    <td>
      <a href="{{downloadURL}}{{this._id}}-{{this.original.name}}" download=true> 
        <button class="input-submit"><i class="fa fa-download"></i></button> </a>
    </td>
   
  </tr>
  <br>
  {{/each}}
</table> -->
</template>