<template name="uploadForm"> 
   <form> 
    <input type="file" id="file">
    <br>
   <input class="input-submit" type="submit" value="Upload">
  </form>
  <br>

<table>
{{#each attachments}}
  <tr>
    <td>
      <a href="{{downloadURL}}{{this._id}}-{{this.original.name}}" download=true> 
        <button class="input-submit">Download</button> </a>
    </td>
    <td>{{this.original.name}}</td>
  </tr>
  <br>
  {{/each}}
</table>



</template>


<!-- 
<ul>
  {{#each attachments}}
  <li>{{this.original.name}}<a href="{{downloadURL}}{{this._id}}-{{this.original.name}}" download=true> <button class="input-submit">Download</button>  </a> </li>
{{/each}}
</ul> -->