<template name='projectView'>
  <div id="project-view">
    <div id="mini-left-nav">
      <div class="row">
        <div class="mini-menu-button" id="active-projects"><a href="/"><i class="fa fa-home fa-2x"></i></a></div>
      </div>

       <div class="row">
        <div class="mini-menu-button" id="add-new-project"><a href="/"><i class="fa fa-plus fa-2x"></i></a></div>
      </div>

      <div class="row">
        <div class="mini-menu-button" id="clients"><a href="/"><i class="fa fa-users fa-2x"></i></a></div>
      </div>

      <div class="row">
        <div class="mini-menu-button" id="archive"><a href="/"><i class="fa fa-line-chart fa-2x"></i></a></div>
      </div>

      <a href="/"><div id="mini-profile-pic" style="background-image: url('{{ currentUser.profile.picture }}')">
      </div></a>
    </div>

    <div id="wrapper">
      <div id="sidebar-wrapper">
          {{> timeline}}
 <!--        <button id="createEvent" class='btn btn-success'> Create An Event</button> -->
      </div>
      <div id="page-content-wrapper">
        <div class="container-fluid">
            <div class="row">
              <div class="col-md-12">

                {{#if $.Session.equals "template" "Project"}}
                  {{> project}}
                <!-- {{else}}
                <button id='deleteNode' class='btn btn-danger'> Delete This Node </button> -->
                {{/if}}
                {{#if $.Session.equals "template" "Meeting"}}
                  {{> meeting}}
                {{/if}}
                {{#if $.Session.equals "template" "Invoice"}}
                  {{> invoice}}
                {{/if}}
                {{#if $.Session.equals "template" "Milestone"}}
                  {{> milestone}}
                {{/if}}
                {{#if $.Session.equals "template" "createEvent"}}
                  {{> createEvent}}
                {{/if}}
              </div>
          </div>
        </div>
      </div>

    </div>
  </div>

</template>

