<template name='projectView'>
  <div id="project-left-nav">
    <div class="container">
      <nav role="navigation">
        <ul class="nav nav-pills nav-stacked">
<!--           <li role="presentation" class="navbar-text">{{> loginButtons}}</li>
        {{#if currentUser}} -->
          <li role="presentation" class="navbar-text nav-button" id="active-projects"><a href="/"><i class="fa fa-home fa-2x"></i></a></li>
          <li role="presentation" class="navbar-text nav-button" id="add-new-project"><a href="/"><i class="fa fa-plus fa-2x"></i></a></li>
          <li role="presentation" class="navbar-text nav-button" id="clients"><a href="/"><i class="fa fa-users fa-2x"></i></a></li>
          <li role="presentation" class="navbar-text nav-button" id="archive"><a href="/"><i class="fa fa-archive fa-2x"></i></a></li>
          <li role="presentation" class="navbar-text nav-button" id="status"><a href="/"><i class="fa fa-line-chart fa-2x"></i></a></li>
<!--         {{/if}} -->
        </ul>
      </nav>
    </div>
  </div>

  <div id="wrapper">
    <div id="sidebar-wrapper">
      <br/>
      <button id="archiveProject" class='btn btn-warning'> Archive This Project </button> 
        {{> timeline}}
    </div>
    <div id="page-content-wrapper">
      <div class="container-fluid">
          <div class="row">
            <div class="col-lg-12">
            
              {{#if $.Session.equals "template" "Project"}}
                {{> project}}
              {{else}}
              <button id='deleteNode' class='btn btn-danger'> Delete This Node </button>
              {{/if}}
              {{#if $.Session.equals "template" "Meeting"}}
                {{> meeting}}
              {{/if}}
              {{#if $.Session.equals "template" "Invoice"}}
                {{> invoice}}
              {{/if}}
              {{#if $.Session.equals "template" "Milestone"}}
                {{> milestone}}
              {{/if}}
            </div>
        </div>
      </div>
    </div>
  </div>

</template>

