<template name="layout">

  <div id="main-view">
    <div id="left-nav">
      <div class="row">
        <div id="time">{{time}}</div>
        <div id="date">{{date}}</div>
      </div>
      {{#if currentUser}}
      <div class="row">
        <div class="create-button" id="add-new-project"><i class="fa fa-plus" id="create-plus"></i><span id="add-project-text">CREATE NEW PROJECT</span></div>
      </div>

      <div class="row">
        <div class="menu-button" id="active-projects">Active Projects</div>
      </div>
      <div class="row">
        <div class="menu-button" id="clients">Clients</div>
      </div>

      <div class="row">
        <div class="menu-button" id="archive">Archive</div>
      </div>

      <div class="row">
        <div id="profile-pic" style="background-image: url('{{ currentUser.profile.picture }}')"></div>
      </div>
      {{/if}}

      <div class="row">
        <div id="account-greeting">{{> customAccounts}}</div>
      </div>
    </div>

  <div id="main-wrapper">
    <div id="page-content-wrapper">
      <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              {{#if currentUser}}
        				{{# if firstTimeLogin }}
        					{{> userSetting }}
        				{{else}}
        						{{# if pageIs 'projectView'}}
        							{{> projectView}}
        						{{/if}}

        						{{# if pageIs 'active-projects'}}
        							{{> allProjects}}
        						{{/if}}

        						{{#if pageIs 'add-new-project'}}
        							{{> newProject}}
        						{{/if}}

        						{{#if pageIs 'archive'}}
        							{{> archivedProjects}}
        						{{/if}}
        						{{#if pageIs 'clients'}}
        							{{> allClients}}
        						{{/if}}
        						{{#if pageIs 'newClient'}}
        							{{> newClient}}
        						{{/if}}
                    {{#if pageIs 'userSetting'}}
                      {{> userSetting}}
                    {{/if}}
        				{{/if}}
              {{else}}
                <div id="landing">
                  <h2 id="landing-title">Hammock</h2>
                  <p class="lead" id="landing-text">Why work? Get a life.</p>
                </div>
                <img src="https://images.unsplash.com/photo-1421284621639-884f4129b61d?q=80&fm=jpg&s=37d08db6cb67738e6f50254c01ded804" id="bg" alt="">
              {{/if}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
