<!-- nav bar goes here, because it's always on the page -->
<template name="layout">
  <div id="left-nav">
 <!--    <div class="container"> -->
      <nav role="navigation">
        <ul class="nav nav-pills nav-stacked">
          <li>
            <div id="time">07:35 PM</div>
            <div id="date">THUR, AUG 20</div>

          </li>
        {{#if currentUser}}
          <li role="presentation" class="navbar-text nav-button create-project-button" id="add-new-project" style="background-color: #4697ce; margin-right: 0; font-size: .6em; border-bottom: none;">CREATE NEW PROJECT</li>

          <li role="presentation" class="navbar-text nav-button" id="active-projects">Active Projects</li>

          <li role="presentation" class="navbar-text nav-button" id="clients">Clients</li>

          <li role="presentation" class="navbar-text nav-button" id="archive">Archive</li>
        {{/if}}
        <li>
          <div id="profile-pic" style="background-image: url('https://lh3.googleusercontent.com/-pu74gOTKoAo/UrUU6aQ0h6I/AAAAAAAAABE/k6OwAkApfCY/funny-Doge-elections-poster-cartoon.jpg')"></div>
          <div>{{> loginButtons}}</div>
        </li>

        </ul>

      </nav>
<!--     </div> -->
  </div>

  <div id="right-panel">
    <div class="container">
      {{#if currentUser}}
        <div>
          {{# if pageIs 'projectView'}}
            {{> projectView}}
          {{/if}}

          {{# if pageIs 'active-projects'}}
            {{> allProjects}}
          {{/if}}

          {{#if pageIs 'add-new-project'}}
            {{> newProject}}
          {{/if}}

          {{#if pageIs 'archive'}}
            {{> archivedProjects}}
          {{/if}}
          {{#if pageIs 'clients'}}
            {{> allClients}}
          {{/if}}
        </div>

      {{else}}
        <h2>Lancer</h2>
        <p class="lead">Your best helper for a freelancer.</p>
      {{/if}}
    </div>
  </div>
</template>
