html, body {
  width: 100%;
  height: 100%;
}

body {
  background-color: #FFFFFF;
}

h1, h2, h3, h4, h5 {
  font-family: "Lato", sans-serif;
}
p, div {
  font-family: "Lato", sans-serif;
}

header {
  height: 200px;
  line-height: 200px;
  text-align: center;
  background: #303e49;
}
header h1 {
  color: white;
  font-size: 18px;
  font-size: 1.125rem;
}

#project-title {
  text-align: center;
  background-color: #2B3D51;
  padding: .6em;
  color: white;
}

.cd-container {
  width: 90%;
  max-width: 1170px;
  margin: 0 auto;
}
.cd-container::after {
  content: '';
  display: table;
  clear: both;
}

.cd-bkgd {
  background-color:#EEEEEE;
}

#createEvent {
  position: relative;
  font-size: 1.1em;
  color: #EEEEEE;
  text-align: center;
  width: 100%;
  background: white;
  border-radius: 0.25em;
  padding: 1em;
  cursor: pointer;
  transition: all 0.2s ease;
}

#createEvent i {
  padding-right: 10px;
}

#createEvent:hover {
  background-color: #75CE66;
  color: white;
}

#archiveProject {
  position: relative;
  font-size: 1.1em;
  color: #2B3D51;
  text-align: center;
  width: 100%;
  background: white;
  border-radius: 0.25em;
  border: 1px solid #2B3D51;
  padding: 1em;
  cursor: pointer;
  transition: all 0.2s ease;
}

#archiveProject i {
  padding-right: 10px;
}

#archiveProject:hover {
  background-color: #2B3D51;
  color: white;
}

#cd-timeline {
  position: relative;
  margin-top: 2em;
  margin-bottom: 2em;
}
#cd-timeline::before {
  /* this is the vertical line */
  content: '';
  position: absolute;
  top: 0;
  left: 18px;
  height: 100%;
  width: 4px;
  background: #d7e4ed;
}

.cd-timeline-content {
  position: relative;
  margin-left: 60px;
  background: white;
  border-radius: 0.25em;
  padding: 1em;
  box-shadow: 0 3px 0 #d7e4ed;
  cursor: pointer;
}

.cd-timeline-content:after {
  content: "";
  display: table;
  clear: both;
}
.cd-timeline-content h2 {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  color: #303e49;
}

.cd-timeline-block {
  position: relative;
  margin: 2em 0;
}

.cd-timeline-block:after {
  content: "";
  display: table;
  clear: both;
}

.cd-timeline-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 0 0 0 4px white, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
}
.cd-timeline-img img {
  display: block;
  width: 24px;
  height: 24px;
  position: relative;
  left: 50%;
  top: 50%;
  margin-left: -12px;
  margin-top: -12px;
}
.cd-timeline-img {
  background: #75ce66;
}

/* SIDEBAR STYLES */

/* Toggle Styles */

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#page-content-wrapper {

    position: absolute;
    padding: 15px;
}

#wrapper {
    padding-left: 350px;
}

#sidebar-wrapper {
    width: 350px;
    background-color: #EEEEEE;
}

#page-content-wrapper {
    padding: 20px;
    position: relative;
}

.overview-timeline-item {
  float: left;
  padding: 0 6%;
}

.overview-cd-timeline-content {
  position: absolute;
  margin-left: 3%;
  margin-bottom: 60px;
  background: white;
  border-radius: 0.25em;
  padding: 0.5em;
  box-shadow: 0 3px 0 #d7e4ed;
  display: none;
  bottom: 10px;
}

#overview-cd-timeline {
  position: relative;
  padding: 2em 0;
  margin-top: 2em;
  margin-bottom: 2em;
}
#overview-cd-timeline::before {
  /* this is the vertical line */
  content: '';
  position: absolute;
  top: 75px;
  left: 18px;
  height: 4px;
  width: 100%;
  background: #d7e4ed;
}

.delete-timeline-item {
  display: inline;
  float: right;
  color: #EEEEEE;
}

.delete-timeline-item:hover {
  color: #e74c3c;
  cursor: pointer;
}

.timeline-item-details {
  display: inline;
  float: left;
}

#login-buttons {
  margin-left: 15px;
/*  position: fixed;
  bottom: 50px;*/
}

#login-dropdown-list {
/*  top: -80px;*/
  width: 220px;
}

#profile-pic {
  display: block;
  width: 150px;
  height: 150px;
  margin: 2em auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-border-radius: 99em;
  -moz-border-radius: 99em;
  border-radius: 99em;
  border: 5px solid #eee;
}

/* PROJECT VIEW LAYOUT */
#project-view {
  width: 100%;
  height: 100%;
}

/* MINI LEFT NAV */

#mini-left-nav {
  width: 80px;
  height: 100%;
  padding-top: 40px;
  text-align: center;
  position: fixed;
  color: white;
  background-color: #2b3d51;
}

.mini-menu-button {
  padding-top: 20px;
  padding-bottom: 20px;
  cursor: pointer;
}

.mini-menu-button a {
  color: white;
}

#mini-profile-pic {
  display: block;
  position: absolute;
  margin-left: 15px;
  bottom: 6%;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

/* Main - Active Projects View */

#sidebar-wrapper {
  margin-left: 0px;
  left: 80px;
}


#page-content-wrapper {
  margin-left: 80px;
  width: auto;
  background-color: white;
}

/* Main Page Left Nav */

#left-nav {
  font-family: "Lato", sans-serif;
  font-size: 2em;
  font-weight: 300;
  color: white;
  position: fixed;
  display: block;
  width: 320px;
  height: 100%;
  background: #2b3d51;
  overflow: hidden;
  z-index: 1000;
}

#time {
  margin-top: 1em;
  font-size: 1.3em;
  font-weight: 400;
  text-align: center
}

#date {
  margin-bottom: 1.3em;
  font-size: 1.07em;
  font-weight: 400;
  text-align: center;
}

.menu-button{
  margin-left: 65px;
  margin-right: 65px;
  padding-bottom: 20px;
  padding-top: 20px;
  border-bottom: 1px solid #5d6b7a;
  cursor: pointer;
}

.create-button {
  background-color: #4697ce;
  margin-right: 0;
  font-size: .6em;
  border-bottom: none;
  margin-bottom: .8em;
  cursor: pointer;
}

.create-button #create-plus {
  background-color: #3686bb;
  font-size: 1.6em;
  padding: 15px;
  padding-left: 30px;
  margin-right: 20px;
}

/* MAIN PAGE CONTENT RIGHT PANEL */

#right-panel {
  width: 100%;
  height: 100%;
  padding-top: 37px;
  padding-left: 340px;
  padding-right: 30px;
  position: relative;
  overflow-x: scroll;
  background-color: white;
}

/* MAIN PAGE ACTIVE PROJECTS TEMPLATE */

.template-title {
  padding-bottom: 20px;
  border-bottom: 1px solid #b5bbc2;
  margin-bottom: 10px;
}

.template-title-text {
  font-family: "Lato", sans-serif;
  font-weight: 500;
  font-size: 1.6em;
  color: #2b3d51;
  padding-right: 27px;
}

.badge {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  margin-bottom: 20px;
  font-size: .8em;
  background-color: #2b3d51;
  padding-top: 11px;
  width: 50px;
  height: 50px;
  border-radius: 100%;
}

/* projectListing Template Styles */

.overview-project {
  padding-top: 20px;
  padding-bottom: 40px;
  border-bottom: 1px solid #b5bbc2;
}

.overview-project h2 {
  font-weight: 600;
  font-size: 2.2em;
  color: #2b3d51;
}

.overview-project small {
  color: #2b3d51;
}

.overview-project:hover {
  background-color: #f7fcfa;
  cursor: pointer;
}

.progress {
  margin-bottom: 30px;
  margin-top: 30px;
}

.current-task h2, h3{
  color: #838383;
  font-size: 1.8em;
  padding: 0;
}

.current-task span {
  font-weight: 300;
  padding-right: 20px;
}

.current-task-details h3 {
  font-size: 1.5em;
}

.emoji {
  max-width: 25px;
  max-height: 25px;
}

/* Main Page Styles */
#main-wrapper {
    padding-left: 260px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.timeline-completed {
  background-color: #dddddd;
}
