<!-- Meeting title (editable) -->
<!-- Date time (editable) -->
<!-- location -->
<!-- notes (notes must have a textfield that saves) -->

<template name="meeting">
  {{>uploadForm}}


  {{#with singleEvent}}
  <ul class="list-group single-event-details">

    <li class="list-group-item"> <h1 id="single-event-title" contenteditable="true">{{title}}   </h1>  </li>
    <li class="list-group-item"> <h3 contenteditable="true" id="single-event-date">{{date}}</h3>  </li>
    <li class="list-group-item"> <h3 contenteditable="true" id="single-event-location">{{location}}</h3>  </li>
    <li class="list-group-item">  
      <h4> Notes </h4>
      <p contenteditable="true" id="single-event-notes">{{notes}}</p>   

    </li>
    <li class="list-group-item">
     <label class="event-completed">
       <p>
        {{#if completed}}
          <button>Mark not completed</button>
         {{else}}
          <button>Mark completed</button>
         {{/if}}
         <br>
         Status:
         {{#if completed}} 
         completed
         {{else}}
         not completed
         {{/if}}
       </p>
     </label>
   </li>
 </ul>
{{/with}}

{{> messages}}
</template>



