<template name="invoice">
  <div class="row">
    <div class="col-md-12" id="invoice-header">
      <h1>Invoice</h1>
			{{# if invoice.completed }}
				<span> This invoice was completed on {{invoice.completedAt}}
				</span><br> 
			{{/if}}
      <span id="invoice-number"><strong>Invoice Number:</strong>{{invoice_no}}</span><div class="btn btn-default" id="sendInvoiceEmail"> <i class="fa fa-envelope"></i>Send Invoice Email </div>
    </div>
  </div>

  <div class="row" id="invoice-info">
    <div class="col-md-6">
      <h4>
        <strong>FROM:</strong> {{user_email}}
      </h4>
    </div>

    <div class="col-md-6">
      <h4><strong>TO:</strong> {{client.name}}</h4>
      <p>{{client.company}}</p>
    </div>
  </div>

  <div class="row">

    <div class="col-xs-12">
      <table class="table table-bordered" id="invoice-table">
        <thead>
          <tr>
            <th>
              <h4>Service</h4>
            </th>
            <th>
              <h4>Description</h4>
            </th>
            <th>
              <h4>Hrs/Qty</h4>
            </th>
            <th>
              <h4>Rate/Price</h4>
            </th>
            <th>
              <h4>Sub Total</h4>
            </th>
          </tr>
        </thead>
        <tbody>
          {{#each invoiceitems}}
            {{>invoiceItem}}
          {{/each}}
        </tbody>
      </table>
      <div class="btn btn-default add-invoice-item"><i class="fa fa-plus-circle"></i>Add a Line Item</div>
    </div>

  </div>

    <div class="row">

        <div class="col-md-offset-8 col-md-4" id="invoice-totals">
          <table>
            <tbody>
              <tr>
                <td><strong>Sub Total:</strong></td>
                <td>{{subtotal}}</td>
              </tr>
              <tr>
                <td><strong>GST:</strong></td>
                <td>{{tax}}</td>
              </tr>
              <tr>
                <td><strong>Grand Total:</strong></td>
                <td>{{grandtotal}}</td>
              </tr>
            </tbody>
          </table>
        </div>

    </div>
    <div class="row" id="invoice-details">

        <div class="col-md-6" id="invoice-payment-details">
          <h3>Payment Details</h3>
					<p>Amount: {{ grandtotal }}<br> <br>
						Currency: Canadian Dollar	
					</p>
        </div>

        <div class="col-md-6" id="invoice-contact-details">
          <h3>Contact Details</h3>
          <p>
					Email : {{user_email}}<br><br>
					Mobile : {{user_phone}}<br> <br>
          </p>
        </div>

    </div>
 









</template>

