<template name="invoice">
      <div class="row">
        <div class="col-xs-6">
          <h1>
            <a href="https://twitter.com/tahirtaous">
            <img src="logo.png">
            ***LOGO***
            </a>
          </h1>
        </div>
        <div class="col-xs-6 text-right">
          <h1>INVOICE</h1>
          <h1><small>{{invoice.invoice_number}}</small></h1>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-5">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4>From: <a href="#">{{user_email}}</a></h4>
            </div>
            <div class="panel-body">
              <p>
                ***UserDetails***
              </p>
            </div>
          </div>
        </div>
        <div class="col-xs-5 col-xs-offset-2 text-right">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4>To : <a href="#">{{client.name}}</a></h4>
            </div>
            <div class="panel-body">
              <p>
                {{client.company}}
              </p>
            </div>
          </div>
        </div>
      </div>
      <!-- / end client details section -->
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>
              <h4>Service</h4>
            </th>
            <th>
              <h4>Description</h4>
            </th>
            <th>
              <h4>Hrs/Qty</h4>
            </th>
            <th>
              <h4>Rate/Price</h4>
            </th>
            <th>
              <h4>Sub Total</h4>
            </th>
          </tr>
        </thead>
        <tbody>
          {{#each invoiceitems}}
            {{>invoiceItem}}
          {{/each}}
        </tbody>
      </table>
      <div class="row text-right">
        <div class="col-xs-2 col-xs-offset-8">
          <p>
            <strong>
            Sub Total : <br>
            GST : <br>
            Total : <br>
            </strong>
          </p>
        </div>
        <div class="col-xs-2">
          <strong>
          {{subtotal}}<br>
          {{tax}} <br>
          {{grandtotal}}<br>
          </strong>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-5">
          <div class="panel panel-info">
            <div class="panel-heading">
              <h4>Payment Details</h4>
            </div>
            <div class="panel-body">
              <p>***User.Entered.Form***</p>
            </div>
          </div>
        </div>
        <div class="col-xs-7">
          <div class="span7">
            <div class="panel panel-info">
              <div class="panel-heading">
                <h4>Contact Details</h4>
              </div>
              <div class="panel-body">
                <p>
                  Email : ***User.Email****<br><br>
                  Mobile : ***User.Phone***<br> <br>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
</template>
<!-- own company details -->

<!-- client details -->

<!-- date -->
<!-- invoice number -->

<!-- table of description and amount -->
<!-- subtotal+tax, total -->

<!-- comments section -->
<!-- send button + export/download -->

