<template name="allProjects">

  <div class="template-title">
    <h1><span class="template-title-text">Active Projects</span><span class="badge">{{count}}</span></h1>
  </div>
  {{#each projects}}
    {{> projectListing}}
  {{/each}}

</template>



<template name="projectListing">

  <div data-project_id="{{_id}}">
    <div class="col-md-12 overview-project">
      <h2>{{name}}:  <small>{{description}}</small></h2>
      <div class="progress">
        <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: {{comPercent}}%">
        </div>
      </div>
      {{>projectLatestDetails}}
    </div>
  </div>

</template>


<template name="projectLatestDetails">
  {{#with currentTask}}
  <div class="current-task">
    <h2>Current Task: <span>{{title}} ({{type}})</span> </h2>
    <div class="current-task-details">
      <h3>Due Date: <span>{{date}}</span>  Location: <span>{{location}}</span></h3>
    </div>
  </div>
  {{/with}}
</template>

