<template name="allProjects">
  <h1>Active Projects <span class="badge">{{count}}</span></h1>
  <!-- each project: -->
  {{#each projects}}
    {{> projectListing}}
  {{/each}}
</template>

<template name="projectListing">
  <!-- project name, status/current node -->
  <div data-project_id="{{_id}}">
    <div class="col-md-12 cd-bkgd overview-project">
      <h3 class="lead">{{name}} <small>- {{description}}</small></h3>
      <section id="overview-cd-timeline" class="cd-container">
        {{#each timeline}}
          {{> overviewTimelineItem}}
        {{/each}}
      </section>
    </div>
  </div>
</template>

<template name="overviewTimelineItem">
  <div class="overview-cd-timeline-content">
    <h4>{{type}}  <small>{{details}}</small></h4>
  </div>
  <div class="overview-timeline-item" data-template="{{type}}">
    <div class="cd-timeline-block">


      <div class="cd-timeline-img cd-picture overview-node">
      </div>
    </div>
  </div>
</template>
