<!-- Meeting title (editable) -->
<!-- Date time (editable) -->
<!-- location -->
<!-- notes (notes must have a textfield that saves) -->

<template name="singleEvent">
  <!--   -->
  {{#with singleEvent}}
  <ul class="list-group single-event-details">
    <li class="list-group-item"> <h1 id="single-event-title" contenteditable>{{title}}   </h1>  </li>
    <li class="list-group-item"> <h3 contenteditable id="single-event-date">{{date_time}}</h3> </li>
    <li class="list-group-item"> <h3 contenteditable id="single-event-location">{{location}}</h3>  </li>
    <li class="list-group-item">
      <form>
        <div name="notes-area">
          <h4> Notes </h4>
          <p contenteditable="true" id="single-event-notes">{{notes}}</p>
        </div>
      </form>
    </li>
    <li class="list-group-item">  
     <label class="event-completed">
       <p>
         <input type="checkbox" checked="">
         Completion Status: 
         {{#if eventCompleted}}
         Finished
         {{else}}
          Unfinished
         {{/if}}    
       </p>
     </label>
   </li>
 </ul>

 
{{/with}}
</template>

<!-- ABOVE: In unordered list format
 BELOW: In separated Elements, made 2 versions depending on which one is easier to work with when we start nesting templates, and dom manipulation  -->

<!-- 
<hr>
 <hr>
 <hr>
 <h1 contenteditable="true">Title: {{title}}</h1>
 <h2 contenteditable="true">Date: {{date_time}} </h2>
 <h2>Location: {{location}}</h2>
 <form>
  <div name="notes-area">
    <h2> Notes </h2>
    <p contenteditable>{{notes}}</p>
  </div>
</form>
<label class="event-completed">
 <p>
   <input type="checkbox" checked="{{eventCompleted}}">
   Completion Status: 
   {{#if eventCompleted}}
   Finished
   {{else}}
   Unfinished
   {{/if}}    
 </p>
</label> -->

