<!-- Meeting title (editable) -->
<!-- Date time (editable) -->
<!-- location -->
<!-- notes (notes must have a textfield that saves) -->

<template name="singleEvent">
  <!--   -->
  {{#with singleEvent}}
  <ul class="list-group single-event-details">
    <li class="list-group-item"> <h1 id="single-event-title" contenteditable="false">{{title}}   </h1> <button> EDIT </button>  </li>
    <li class="list-group-item"> <h3 contenteditable="false" id="single-event-date">{{date_time}}</h3> <button> EDIT </button> </li>
    <li class="list-group-item"> <h3 contenteditable="false" id="single-event-location">{{location}}</h3> <button> EDIT </button>  </li>
    <li class="list-group-item">  
      <h4> Notes </h4>
      <p contenteditable="false" id="single-event-notes">{{notes}}</p>   
       <button> EDIT </button>   
    </li>
    <li class="list-group-item">  
     <label class="event-completed">
       <p>
         <input type="checkbox" checked="">
         Completion Status: 
         {{#if eventCompleted}}
         Finished
         {{else}}
          Unfinished
         {{/if}}    
       </p>
     </label>
   </li>
 </ul>
{{/with}}
</template>



