<template name="messages">
  <div id="chatBox" class="{{chatToggle}}"> 
    <div id="allMessages">
      {{#each messages}}
     {{> message}} 
      {{/each}}
    </div>

    <div id="messageInput" >
      {{> messageBox}}
    </div>

  </div>
  <button id="toggleChat"> Chat </button>
</template>

<template name="messageBox">
  <form >
    <input size="39" id="newMessage" name="newMessage" type="text">
  </form>
</template>

<template name="message">
 <div class="singleMessage {{checkLocalUser}}" >{{sender}}: {{message}} </div>
</template>