ul {
  list-style-type: none;
}

#chatBox{
 background-color: lightgrey;
 height: 400px;
 width: 300px;
 position: fixed;
 bottom: 0;
 right:0;
 overflow-y: auto;
 overflow-x: hidden;
 z-index: 1;
}

#allMessages {
position: absolute;
bottom: 5px;

}

#messageInput {
  position: absolute;
  width: 300px;
  bottom: 0;
  left:0px;
}



div.singleMessage{
  word-wrap: break-word;
  height: 80px;
  width: 100px;
  top:2px;
}

.myMessage {
  color: white; 
  position: absolute;
  word-wrap: break-word;
  background-color: green;
   left: 200px;
}

.collabMessage{
  color: white;
  left: 10px;
  position: absolute;
  background-color: blue;
   word-wrap: break-word;
  
}

