ul {
  list-style-type: none;
}

#chatBox{
 background-color: #2B3D51;
 height: 400px;
 width: 300px;
 position: fixed;
 bottom: 10px;
 right:0;
 overflow-y: scroll;
 overflow-x:hidden;
 z-index: 1;
 border-radius: 10px;
 opacity: 0.9;

}

#newMessage {
  border-radius: 10px;
}

#chatBox.off{
  display:none;
}


#allMessages {
  position: absolute;
  bottom: 5px;
}

#messageInput {
  position: absolute;
  width: 300px;
  bottom: 0px;
  left:0px;
}



.singleMessage{
  height: 80px;
  width: 120px;
  word-wrap:break-word;
  position: relative;
  border-radius: 10px;
  color:white;
  padding: 4px;
  bottom: 120px
  top: 10px; 
}
/*myMessages go on right side of chatbox*/
.myMessage {
  background-color: #3686BB;
  left: 200px;
  text-align:left;
}
/*collabMessages go on left side of chatbox*/
.collabMessage {
  left: 10px;
  background-color: #4697CE;
  text-align: left;
}

