<template name="newProjectModal">
  <div class="modal fade" id="create-project-modal">
      <div class="modal-dialog">
       <i class="fa fa-times-circle" id="modal-close" data-dismiss="modal"></i>
          <div class="modal-content">

              <div class="modal-intro selected-question">
                Congrats on the job!<br>
                <button class="next-button btn btn-default">OKAY! <small> (OR HIT ENTER) </small></button>
              </div>

              <div class="basic-modal-question">
                <div class="question-text">
                  What's the name of your project?
                </div>
                <div class="modal-short-text-response" id="project-name" contenteditable="true"></div>
                <button class="next-button btn btn-default">OKAY! <small> (OR HIT ENTER) </small></button>
              </div>

              <div class="basic-modal-question">
                  <div class="question-text">
                    Describe your project in a few words.
                  </div>
                  <div class="modal-short-text-response" id="project-description" contenteditable="true"></div>
                  <button class="next-button btn btn-default">OKAY! <small> (OR HIT ENTER) </small></button>
              </div>

              <div class="basic-modal-question">
                <div class="question-text">When does it start?</div>
                  <div class="form-group">
                      <div id="start-date-picker"></div>
                  </div>
                  <button class="next-button btn btn-default">OKAY! <small> (OR HIT ENTER) </small></button>
              </div>

              <div class="basic-modal-question">
                  <div class="question-text">When is it due?</div>
                   <div class="form-group">
                      <div id="end-date-picker"></div>
                  </div>
                  <button class="next-button btn btn-default">OKAY! <small> (OR HIT ENTER) </small></button>
              </div>

              <div class="basic-modal-question">
                <div class="question-text">
                  How much is the contract?
                </div>
                <div class="modal-short-text-response" id="project-amount" contenteditable="true"></div>
                <button class="next-button btn btn-default">OKAY! <small> (OR HIT ENTER) </small></button>
              </div>

          </div>

      </div>
  </div>
</template>
