<!-- form -->
<!-- project name -->

<!-- client (check if client already exists) -->
<!-- if not, render add-client fields -->

<!-- start date end date (dropdown cal)-->
<!-- quote -->
<!-- milestones + duration (button to add another blank milestone field)-->

<!-- create button -->

<template name="newProject">
<!--
	{{> quickForm id="newProjectForm" schema="newProjectSchema" type="normal" template="bootstrap3-horizontal" label-class="col-sm-3" input-col-class="col-sm-6" validation="blur"}}
	-->
	<!-- Link to how to customize automform and using simple-schema: http://meteortips.com/first-meteor-tutorial/forms/ -->

	{{#autoForm id="newProjectForm" schema="newProjectSchema" type="normal" validation="blur" template='bootstrap3'}}
		<fieldset>
			{{>afQuickField name='project_name'}}
			{{>afQuickField name='project_description'}}
			{{>afQuickField name='project_start_date'}}
			{{>afQuickField name='project_due_date'}}

			{{>afQuickField name='client_id'}}
			{{>afQuickField name='contract_amount'}}
			{{>afArrayField name='milestones' template='newProjectTemplate' }}


		</fieldset> 
	{{/autoForm}}
</template>

<template name="newProjectTemplate">
<div class="inline-form-group" style="display: inline-block;">
{{> afQuickField name=this.milestone_date label=false options=afOptionsFromSchema}}
{{> afQuickField name=this.milestone_invoice label=false options=afOptionsFromSchema}}
{{> afQuickField name=this.milestone_invoice_percentage label=false options=afOptionsFromSchema}}
 </div> 
</template>
