<template name="milestone">
  <div class="event">
    <h1>Milestone</h1>
    <hr>
    {{#with singleEvent}}
      <ul class="list-group single-event-details">
        <li class="list-group-item"><h1 id="single-event-title" contenteditable="true"><strong>{{title}}</strong></h1></li>
        <li class="list-group-item"><h3><strong>Due date:  </strong><span id="single-event-date" contenteditable="true">{{date}}</span></h3></li>
        <li class="list-group-item" id="req-list">
          <h3><strong>Requirements:</strong></h3>
          <form id="new-requirement">
            <input class="input-box" placeholder="Write a requirement..." />
            <input class="input-submit" type="submit" value="Add">
          </form>
          <ul>
            {{#each requirements}}
              {{> requirementItem}}
            {{/each}}
          </ul>
        </li>
        <li class="list-group-item">
          <table>
            <tr>
              <td class="td-name">
                <h3><strong>Notes:</strong></h3>
              </td>
              <td class="td-content">
                <h4 contenteditable="true" id="single-event-notes">{{notes}}</h4>
              </td>
            </tr>
          </table>
        </li>
<!--         <li class="list-group-item">
          <p>Comments:</p>
            <ul>
              {{#each comments}}
                {{> commentItem}}
              {{/each}}
            </ul>
          <form id="new-comment">
            <input placeholder="Write a comment..." />
            <input type="submit" value="Comment">
          </form>
        </li> -->
        <li class="list-group-item">
         <label class="event-completed">
           <p>
            {{#if completed}}
             <button>Mark not completed</button>
            {{else}}
             <button>Mark completed</button>
            {{/if}}
            <br>
            Status:
            {{#if completed}}
              completed
            {{else}}
              not completed
            {{/if}}
           </p>
         </label>
       </li>
     </ul> 
    {{/with}}
  </div>
</template>

<template name="requirementItem">
  <li data-index="{{index}}" class="req-item">
    <input type="checkbox">
    <h4 contenteditable="true">{{object.name}}</h4>
    <i class="fa fa-times-circle delete-req"></i>
  </li>
</template>

<template name="commentItem">
  <li data-index="{{index}}">
    <p>{{object.user_name}}</p>
    <h5>{{object.text}}   <i class="fa fa-times-circle delete-com"></i></h5>
  </li>
</template>

